<h1>Trade Entry</h1>

  <form action="/trades" method="POST">
    <h2>New Trade: </h2>

    <h3>Buy/Sell: <input id="direction" type="text" name="direction" value=""></input></h3>

    <h3>Size: <input id="size" type="text" name="size" value=""></input></h3>

    <h3>Product: <input id="product" type="text" name="product" value=""></input></h3>

    <h3>Price: <input id="price" type="text" name="price" value=""></input></h3>

    <h3>Trade Date: <input id="trade_date" type="text" name="trade_date" value=""></input></h3>

    <p><input type="submit" value="submit"></p>
  </form>
